g2p-en == 2.1.0
inflect == 4.1.0
librosa
matplotlib
numba
numpy
pypinyin==0.39.0
pyworld == 0.2.10
PyYAML==5.4.1
scikit-learn
scipy
soundfile==0.10.3.post1
tensorboard == 2.2.2
tgt == 1.4.4
tqdm==4.46.1
unidecode == 1.1.1
